/* index.css */
/* 1행 =======================북극곰 후원 안내 */
    #wrap {}
    #wrap .intro{
        height: 100vh; /* 풀스크린  */
        background: url(../images/bg1.png) no-repeat center / cover; /* 화면 크기를 줄여도 곰 머리가 가운데에 배치하고 있다 */
    }
    #wrap .intro .container{}
    #wrap .intro .container h1:nth-child(1){}
    #wrap .intro .container h1:nth-child(1) a {}
    #wrap .intro .container h1:nth-child(1) a img{
        width: 89px;

    }
    #wrap .intro .container h1:nth-child(2){}
    #wrap .intro .container h1:nth-child(2) em{}
    #wrap .intro .container .sponsor_btn{}
    #wrap .intro .container .sponsor_question{}
/* 2행 =======================퀴즈 */
/* 3행 =======================새끼북극곰 이야기 */
/* 4행 =======================빙하 면적감소 */
/* 5행 =======================인류 재앙*/
/* 6행 =======================지구 위기 */
/* 7행 =======================WWF 단체홍보 */
/* 8행 =======================다양한 활동 */
/* 9행 =======================감사선물 */
/* 10행 =======================결제 안내사항 /
