/* index.css */
/* 1행 =======================북극곰 후원 안내 */
    #wrap {} /* 기본값 유지를 위해 작성하지 않음 . 기본값 -> 너비는 부모의 100%, 높이는 내용만큼 */
    #wrap .intro{
        height: 100vh; /* 풀스크린  */
        background: url(../images/bg1.png) no-repeat center / cover; /* 화면 크기를 줄여도 곰 머리가 가운데에 배치하고 있다 */
        position: relative; /* after 선택자의 기준이 되게 position:relative를 작성하는 것이다 */
    }
    /* 북극곰 이미지 - 그라디언트 효과 */
    #wrap .intro::after{
        content: ''; display: block; /*가상요소(after)의 필수 속성 */
        background: linear-gradient(transparent, rgb(0,0,0,0.5));
        /* background: yellow; 임시 색상 */
        width: 100%; height: 100%; /* 부모크기와 같게 만들기 */
        position: absolute; left: 0; top: 0; z-index:100;
    } 
    #wrap .intro .container{
        position:relative; z-index:200;
        border: 3px solid red; /* 내용을 가지고있는 묶음 부분이다 */
        max-width: 1250px; /* max로 처리하면서 가변형이 된다 */
        min-width: 320px;
        margin: 0 auto; /* 디바이스 크기보다 width가 작은 블록 요소를 가운데 배치하는 방법 */
        /* 형제-형제는 margin , 부모와 자식은 padding */
        padding-top:100px;
        /* 자식, 자손이 인라인일 경우 수평정렬 text-align */
        text-align: center; 
        /* 자식의 flaot 적용으로 인해 부모 바깥으로 나가는 문제해결 */
        overflow: hidden;
    }
    #wrap .intro .container h1:nth-child(1){
        text-align: left; /* 팬더로고만 왼쪽으로 갔다*/
        margin: 0 0 100px;
    }
    #wrap .intro .container h1:nth-child(1) a {/* 인라인 */
    }
    #wrap .intro .container h1:nth-child(1) a img{/* 인라인 */
        width: 89px;
    }
    #wrap .intro .container h1:nth-child(2){
        color: #fff;
        font-size: 4.375rem;
        line-height: 1.3; /* 행간 130% -> 1.3으로 작성 */
    }
    #wrap .intro .container h1:nth-child(2) em{
        color: #fff;
        font-weight:700;
    }
    #wrap .intro .container .sponsor_btn{
        display: block;
        width: 409px; margin: 100px auto; /* margin 상하 100 좌우 auto 설정 */
        line-height: 71px; /* 수직 중앙에 배치해야 할 경우 -> height를 line-height를 사용하면 된다. 단 글자가 1줄 일 경우 사용가능 */
        background: linear-gradient(90deg, #FE9300, #FF7300);
        border-radius: 50px;
        font-size: 2.125rem;
        font-weight: 700;
        color: #fff;
    }
    #wrap .intro .container .sponsor_question{
        float: right; /* 오른쪽으로 갔다 */
        color: #fff;
        background-color: #000;
        border-radius:30px;
        width: 439px; 
        height: 51px;
        line-height:1.2; /* 행간 120%로 피그마에서는 설정 되어있어서 썼으면! 높이값을 따로 줘야함 */
        padding-top: 10px; /* 위에 여백 띄우기 */
        font-size: 1.625rem;
    }
/* 2행 =======================퀴즈 */
#wrap .quiz {
    background:url(../images/quiz_bg.png) center / cover; /* 배경이미지 삽입 배경이미지를 꽉 채워서 하고 싶을때 -> centr / cover;  로 작성하기*/
    padding:150px 0; /* 상하150 좌우0  */
}
#wrap .quiz .container {
    width: 1250px; margin: 0 auto;
    border: 3px solid aqua;
    display: grid; /* grid를 사용하게되면 왼쪽퀴즈와 오른쪽 참여현황 정렬하게 되는 것 (grid는 밑으로 가는 성향) */
    grid-template-columns: 1fr 1fr; /* 반 / 반  옆으로 가게 된다 */
}
#wrap .quiz .container #left_quiz {}
#wrap .quiz .container #left_quiz * {color: #fff;}
#wrap .quiz .container #left_quiz h2 {
    text-align: center;
    font-size: 3.438rem;
    font-weight: 500;
    margin: 0 0 38px; /* margin-bottom 값만 줘도 된다 */
}
#wrap .quiz .container #left_quiz h3 {
    font-size: 1.25rem;
    margin-bottom: 8px;
}
#wrap .quiz .container #left_quiz .list {
    display: grid;
    grid-template-rows: repeat(4, 34px); /* 34px 이 4번 반복된다 */
    margin:8px 0 38px;
}
#wrap .quiz .container #left_quiz .list label {
    /* background-color: yellowgreen; */
}
#wrap .quiz .container #left_quiz .list label input[value*=q] {display: none;} /* *-> 포함할때  , $-> 끝날때 */  /* 라벨이 있기때문에 가려도 되는 것  */
#wrap .quiz .container #left_quiz .list label input[value*=q]:checked + span {
    background-image: url(../images/chk_on.png);
    display: block;
}
#wrap .quiz .container #left_quiz .list label span {
    background-image: url(../images/chk_off.png);
    /* background-color: palevioletred; */
    display: block; 
    /* 배경반복+배경위치+왼쪽여백+행간 설정 */
    background-repeat:no-repeat;
    line-height: 34px;
    padding-left:48px;
    background-position-y:5px;
}
#wrap .quiz .container #left_quiz #answer_btn  {
    background:#050505; width: 100%; height: 54px;
    border-radius: 50px;
    margin-top: 38px;
}
#wrap .quiz .container .right {text-align: right;}
#wrap .quiz .container .right p{}
#wrap .quiz .container .right p:nth-child(1){}
#wrap .quiz .container .right p:nth-child(1) img{}
#wrap .quiz .container .right p:nth-child(2){color: #fff;}





/* 3행 =======================새끼북극곰 이야기 */
/* 4행 =======================빙하 면적감소 */
/* 5행 =======================인류 재앙*/
/* 6행 =======================지구 위기 */
/* 7행 =======================WWF 단체홍보 */
/* 8행 =======================다양한 활동 */
/* 9행 =======================감사선물 */
/* 10행 =======================결제 안내사항 /
