/* responsive.css */ /* 반응형 - 태블릿 과 모바일을 위해서 작성하는 css 파일이다 */
/* Desktop 1250~1920 */
/* Tablet 1249~850 */
@media screen and (max-width:1249px) { /* 달라진 부분 작성하는 것 (1249 이하부터는 태블릿이다)*/
    #wrap .intro {padding: 0 80px;}
    #wrap .intro .container {width: 100%;}
    #wrap .intro .container h1:nth-child(2){font-size: 3.125rem;}
    #wrap .intro .container .sponsor_btn{width:270px; line-height: 62px; font-size: 1.375rem;}
    #wrap .intro .container .sponsor_question{width:333px; line-height: 1.7; font-size: 1.25rem;}
}
/* Mobile 849~320 */
@media screen and (max-width:849px) {
    #wrap .intro .container h1:nth-child(2){font-size: 1.875rem;}
    #wrap .intro {padding: 0 15px;}
}